@model KSUCorner.Models.Group

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - KSU Corner</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            var currentTab = window.location.pathname;
            if (currentTab == null || currentTab.split("/").length < 3)
                currentTab = "Index";
            else {
                currentTab = (currentTab.split("/"))[2];
                if (currentTab.length == 0)
                    currentTab = "Index";
            }
            $.ajax({
                type: "GET",
                url: "/Home/GetTabs/" + currentTab,
                success: function (response) {
                    var off = response.indexOf(":");
                    var head = "";
                    var tabs = "";
                    if (off == -1)
                        tabs = response;
                    else {
                        head = response.substring(0, off);
                        tabs = response.substring(off + 1);
                    }
                    $("#headcontainer").html(head);
                    $("#menucontainer").html(tabs);
                },
                error: function (e) {
                    alert("Error: " + e.responseText);
                }
            });
        });
    </script>
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-image: url('/Images/background7.jpg')">
        <div class="container">
            <div class="navbar-header">
                <div id="headcontainer">
                </div>
                <div id="menucontainer">
                </div>
                <div class="navbar-collapse collapse">
                </div>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <p></p>

            <div class="firstindent">

            @using (Html.BeginForm((string)ViewBag.Form, "", FormMethod.Post, 
                                                         new { enctype = "multipart/form-data" })) {
            @Html.ValidationSummary(true)
            
if (ViewBag.Status != "New") {
                  @Html.Hidden("GroupID", Model.GroupID)
}
                  <table border="0" cellspacing="5" cellpadding="6" width="630">
                      <tr>
                      <td class="datacellzero120">@Html.Raw(ViewBag.Label1):</td>
                      <td><span class="longer">@Html.TextBoxFor(m => m.Name)
                      @Html.ValidationMessageFor(m => m.Name)</span></td>
                      </tr>
                      <tr>
                      <td class="datacellzero120">@Html.Raw(ViewBag.Label2):</td>
                      <td valign="top"><span class="longer">@Html.TextBoxFor(m => m.Description)
                      @Html.ValidationMessageFor(m => m.Description)</span></td>
                      </tr>
                      <tr>
                      <td class="datacellzero120">@Html.Raw(ViewBag.Label3):</td>
                      <td><input type="file" id="fileUpload" name="fileUpload" size="50"/>
                      @Html.Raw(ViewBag.Content1)</td>
                      </tr>
                      <tr>
                      <td class="datacellzero120">@Html.Raw(ViewBag.Label4):</td>
                      <td valign="top">@Html.CheckBoxFor(m => m.IsPublic) <b>@Html.Raw(ViewBag.Label5)</b></td>
                      </tr>
                      <tr>
                      <td class="datacellzero120" valign="top">@Html.Raw(ViewBag.Label6):</td>
                      <td class="datacellzero" valign="top">
                      @Html.DropDownList("ImageLinkType")
                      </td>
                      </tr>
                      <tr>
                      <td class="datacellzero120" valign="top">@Html.Raw(ViewBag.Label7):</td>
                      <td>@Html.TextAreaFor(m => m.Mission, 7, 61, null)
                      @Html.ValidationMessageFor(m => m.Mission)</td>
                      </tr>
                  </table>

                  <p>
                  <input type="submit" value="Save" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  <button type="button" onclick="window.location='/Home/Groups'">Cancel</button>
                  </p>

            } 
            </div>
        <footer>
            <p>&copy; @DateTime.Now.Year - KSU Corner</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


